name: Build and Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    name: Build for ${{ matrix.target }}
    runs-on: ubuntu-latest
    env:
      BIN_NAME: LolzUpReborn
    strategy:
      matrix:
        target:
          - x86_64-unknown-linux-musl
          - aarch64-unknown-linux-musl
          - arm-unknown-linux-gnueabihf
          - x86_64-pc-windows-gnu

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Install Cross
        run: cargo install cross --git https://github.com/cross-rs/cross.git

      - name: Build
        run: cross build --release --target ${{ matrix.target }}

      - name: Package Binaries
        shell: bash
        run: |
          STAGING="release_assets"
          mkdir -p $STAGING
          
          if [[ "${{ matrix.target }}" == *"windows"* ]]; then
            cp "target/${{ matrix.target }}/release/${{ env.BIN_NAME }}.exe" "$STAGING/"
            cd $STAGING && zip "../${{ env.BIN_NAME }}-${{ matrix.target }}.zip" *
          else
            cp "target/${{ matrix.target }}/release/${{ env.BIN_NAME }}" "$STAGING/"
            cd $STAGING && tar czf "../${{ env.BIN_NAME }}-${{ matrix.target }}.tar.gz" *
          fi

      - name: Upload Artifacts
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ env.BIN_NAME }}-${{ matrix.target }}.*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}